<div class="icon arrow">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" zoomandpan="magnify" viewbox="0 0 30 30.000001" height="40" preserveaspectratio="xMidYMid meet" version="1.0">
		<defs>
			<clipPath id="e0c2ea1684"><path d="M 5.289062 16.882812 L 7.328125 16.882812 L 7.328125 18.921875 L 5.289062 18.921875 Z M 5.289062 16.882812 " clip-rule="nonzero"/></clipPath>
			<clipPath id="cab011b9d0"><path d="M 6.710938 0 L 23.402344 0 L 23.402344 29.03125 L 6.710938 29.03125 Z M 6.710938 0 " clip-rule="nonzero"/></clipPath>
		</defs>
		<g clip-path="url(#cab011b9d0)"><path fill="#2e2e2e" d="M 8.761719 0.0234375 L 23.289062 14.570312 L 8.839844 29.003906 L 6.792969 26.949219 L 19.1875 14.570312 L 6.710938 2.074219 L 8.761719 0.0234375 " fill-opacity="1" fill-rule="nonzero"/></g>
	</svg>
</div>
