// -----------------------------------------------------------------------------
// This file contains global HTML tag styles.
// -----------------------------------------------------------------------------

:root {
    font-family: $font-family-base;
    line-height: $line-height-base;
    font-weight: $font-weight-normal;
    font-size: 14px;

    @include mq(md) {
        font-size: 16px;
    }
}

* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: $body-color;
    background-color: $body-bg;
}

::selection {
    background: $brand-primary;
    color: $white;
}

::-moz-selection {
    background: $brand-primary;
    color: $white;
}

.content-wrap {
    flex: 1 0 auto;
}

.page-wrap {
    width: 100%;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $body-bg;
}

.module {
    padding: 45px 0px;
    background-color: $hrw-white;

    &.no-padding {
        padding: 0;
    }

    &.padding-large {
        padding: 120px 0px;
    }

    &.bg-light {
        background-color: $hrw-white;
    }
}

.container {
    &.h-100 {
        height: 100%;
    }
}

// Images
img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    color: $brand-primary;
    text-decoration: none;
    transition: $transition-default;

    @include on-event() {
        color: darken($brand-primary, 10%);
    }
}

button {
    cursor: pointer;
}

.clip-marker {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.transform-none {
    text-transform: none !important;
}

.nimbus {
    font-family: 'TAN - NIMBUS';
}

.league-spartan {
    font-family: 'League Spartan';
}

.quicksand {
    font-family: 'Quicksand';
}

.twhite {
    color: $hrw-white;
}

.tblack {
    color: $hrw-dark;
}

.bg-white {
    background-color: $hrw-white;
}

.bg-dark {
    background-color: $hrw-dark;
}

.mh72 {
    font-size: 72px;
    width: 100%;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.mh62 {
    font-size: clamp(42px, calc(62 * 100vw / 1440), 62px);
    width: 100%;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: unset;
}

.mh- .t18 {
    font-size: 18px;
}

.t20 {
    font-size: 20px;
}

.t22 {
    font-size: 22px;
}

.t24 {
    font-size: 24px;
}

.t26 {
    font-size: 26px;
}

.t32 {
    font-size: 32px;
}

.t36 {
    font-size: 36px;
}

.t62 {
    font-size: clamp(42px, calc(62 * 100vw / 1440), 62px);
}

// button

a {
    text-decoration: none !important;
}

.button {
    .btn {
        font-family: 'Quicksand';
        display: flex;
        align-items: center;
        width: max-content;
        padding: 8px 24px;
        font-size: 20px;
        text-decoration: none !important;
        gap: 10px;

        &.tblack {
            color: black;
        }

        &.bg-white {
            background-color: $hrw-white;
            color: $hrw-dark;

            svg {
                path {
                    stroke: $hrw-dark;
                    fill: $hrw-dark;
                }
            }
        }

        &.bg-dark {
            background-color: $hrw-dark;
            color: $hrw-white;

            svg {
                path {
                    stroke: $hrw-white;
                    fill: $hrw-white;
                }
            }
        }

        .pen {
            svg {
                width: 25px;
            }
        }

        .arrow {
            svg {
                width: 20px;
            }
        }
    }
}

@include mq($until: lg) {
    .module {
        &.padding-large {
            padding: clamp(45px, calc(45 * 100vw / 375), 120px) 0px;
        }
    }

    .mh72 {
        font-size: clamp(36px, calc(36 * 100vw / 375), 72px);
    }

    .t36 {
        font-size: clamp(24px, calc(24 * 100vw / 375), 36px);
    }

    .t24 {
        font-size: clamp(20px, calc(20 * 100vw / 375), 24px);
    }

    .t22 {
        font-size: clamp(18px, calc(18 * 100vw / 375), 22px);
    }

    .t20 {
        font-size: clamp(16px, calc(16 * 100vw / 375), 20px);
    }

    .container {
        padding-left: clamp(18px, calc(18 * 100vw / 375), 30px);
        padding-right: clamp(18px, calc(18 * 100vw / 375), 30px);
    }

    .button {
        .btn {
            padding: 4px 16px;
            font-size: 18px;
            gap: 8px;
        }
    }

    #main-nav {
        display: none;
    }
}

.rsvp {
    &-counts {
        &-total {
            text-align: center;
        }
    }

    &-counts-detail {
        display: flex;
        flex-direction: row;
        gap: 18px;
        justify-content: center;
        margin-bottom: clamp(18px, calc(18 * 100vw / 375), 28px);
        text-align: center;

        &-wrap {
            display: flex;
            width: 60%;
            gap: 16px;

            @include mq($until: lg) {
                width: 100%;
            }
        }

        &-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: wheat;
            padding: 16px;
            border-radius: 12px;
            overflow: hidden;
        }
    }

    &-form {
        form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            input,
            textarea,
            select {
                min-height: 39px;
                padding: 8px 16px;
                border-radius: 8px;
                border: solid 1px black;
                height: auto;
            }
        }
    }

    &-submit {
        width: max-content;
    }

    &-pagination {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
