.btn {
    display: inline-block;
    border: 0;
    background: none;
    color: $white;
    background-color: theme-color('primary');
    border-radius: $border-radius-default;
    font-weight: $btn-font-weight;
    transition: $transition-default;
    text-align: center;
    line-height: 1;
    padding: $btn-padding-y $btn-padding-x;

    @include on-event() {
        background-color: darken(theme-color('primary'), 10%);
        color: $white;
    }

    &[disabled] {
        opacity: 0.8;
        cursor: not-allowed;
    }
}

.btn-block {
    width: 100%;
    display: block;

    & + .btn-block {
        margin-top: $padding;
    }
}

.button {
    .btn {
        font-family: 'Quicksand';
        display: flex;
        align-items: center;
        width: max-content;
        padding: 8px 24px;
        font-size: 20px;
        text-decoration: none !important;
        gap: 10px;

        &.tblack {
            color: black;
        }

        &.bg-white {
            background-color: $hrw-white;
            color: $hrw-dark;

            svg {
                path {
                    stroke: $hrw-dark;
                    fill: $hrw-dark;
                }
            }
        }

        &.bg-dark {
            background-color: $hrw-dark;
            color: $hrw-white;

            svg {
                path {
                    stroke: $hrw-white;
                    fill: $hrw-white;
                }
            }
        }

        .pen {
            svg {
                width: 25px;
            }
        }

        .arrow {
            svg {
                width: 20px;
            }
        }

        &.rounded {
            border-radius: 30px;
            height: 42px;
        }
    }
}
