{% extends "page.twig" %}

{% block main %}
    <div class="text-center padding-fluid-large">
        <h1>{{ internal_title }}</h1>
        <p>{{ internal_supporting_text }}</p>
    </div>
{% endblock %}
