<header class="header flex flex-dir-column justify-center top" id="main-header">
	<div class="container">
		<div class="header-wrap">
			<div class="header-wrap-item">
				<div class="header-wrap-item-logo">
					<a
						href="{{ site.url }}" class="text-hide block header__logo nimbus twhite">
						{# {{ svg_icon('logo') }} #}
						HARAWARA
					</a>
				</div>
			</div>
			<div class="header-wrap-item">
				<div class="header-wrap-item-menu">
					<nav class="header-wrap-item-menu-item" id="main-nav" aria-label="Main navigation">
						{% include 'Header/nav.twig' with {
                            menu: theme_menus.header_menu
                        } only %}
					</nav>
					<div class="header-wrap-item-menu-item-button button">
						{% include "partials/button-arrow.twig" with {
                            button: options.header_button,
                            class: 'tblack bg-white',
							icon: 'pen'
                        } %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ appendHeader }}
</header>